# Large files
word_embeddings_project/GoogleNews-vectors-negative300.bin

# Dependencies
webhook-api/node_modules/

# Local environment variables
.env

# Runtime stores
webhook-api/accounts.json
.venv/*
temp.txt
webhook-api/news-data.json
webhook-api/profile.json
webhook-api/IP2LOCATION-LITE-DB1.CSV
pip-install.log
webhook-api/news-data.json
webhook-api/package-lock.json
webhook-api/profile.json
webhook-api/server.log
webhook-api/external-input/twitter-tokens.json
webhook-api/telemetry.json
webhook-api/thoughts/*
node_modules/
