# Large files
word_embeddings_project/GoogleNews-vectors-negative300.bin

# Dependencies
webhook-api/node_modules/

# Local environment variables
.env

# Runtime stores
webhook-api/accounts.json
venv/*
temp.txt
webhook-api/news-data.json
webhook-api/profile.json
