version: '3.8'
services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SSH_PASS: opencodepass
    restart: unless-stopped
    ports:
      - "8080:80"
      - "2222:22"
    volumes:
      - ./opencode_data/php:/var/www/html:ro
